@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&display=swap');

.hale__header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-bg);
    color: #fff;
    font-family: var(----font-family-headings);
    padding: 4rem 6rem;
    font-size: 34.82px;
}

.hale__header-sections h1{
    font-size: 34.82px;
}

.hale__header-section{
    text-align: center;
}

.hale__header-section p{
    font-size: 16px;
}
