@import url('https://fonts.googleapis.com/css2?family=Domine:wght@400;500;600;700&family=Outfit:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --font-family: 'Outfit', sans-serif;
  --font-family-headings: 'Domine', serif;
  --color-heading: #FFFFFF;
  --color-green-heading: #28574E;
  --color-black-heading: #1E232F;

}

.gradient-bg{
  background: linear-gradient(180deg, rgba(43, 109, 97, 1) 0%, rgba(40, 87, 78, 0.39) 100%);
}

.button-bg-green{
  background: #20433D;
}

.button-bg-white{
  background: #FFFFFF;
}

.cta-bg{
  background: #1E232F;
}

.div-dark{
  background: #1E232F;
}

.form-gradient{
  background: linear-gradient(270deg, rgba(203, 203, 203, 0.3) 0%, rgba(255, 255, 255, 1) 100%);
}